@charset "utf-8";

.fs-notosans {font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}

html, body {}

.container {
  max-width: 1000px !important;
  margin: 0 auto;
}

.mainvisual {
  width: 1000px;
}
.mainvisual img {
  width: 100%;
}




.flx-row {
  flex-direction: row;
}
.reverse {
  flex-direction: row-reverse;
}

.cont-block {
  max-width: 1000px;
  margin: 0 auto 10%;
  padding: 0;
}
.col_box {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 10% auto 0;
  align-items: center;
}
.cont-block .pic-box {
  width: 20%;
  margin: 0 auto;
  padding: 0;
}
.cont-block .desc-box {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 0 8%;
}
.time {
 font-size: 0.7rem;
 font-weight: 500;
 color: #111;
 text-align: left;
 line-height: 2.3;
}
.event {
 font-size: 1.5rem;
 font-weight: 500;
 color: #111;
 text-align: left;
 line-height: 2.3;
}
.event-more {
 font-size: 0.5rem;
 font-weight: 500;
 color: #111;
 text-align: left;
 line-height: 2.3;
}

.cont-block .pic-box img {
  width: 30%;
  animation: rotation 4s linear infinite !important;
}
/* 回転アニメーション */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.txt {
  font-weight: 400;
  text-align: center;
   line-height: 1.8;
  font-size: 1.2rem;
  margin: 0 auto 0;
  color: #333;
 }



.keyvisual {
  position: relative;
}
.keyvisual_scroll {
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17%;
  z-index: -1;
}
.keyvisual_scroll-circle {
  height: auto;
  width: 100%;
  animation: rotate 5s linear infinite;
}






/*=*=*=*=*=*=*=*=*=*=*=*=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*
  @media (max-width: 600px) ↓↓↓
*=*=*=*=*=*=*=*=*=*=*=*=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@media screen and (max-width: 600px){


.container {
  width: 100% !important;
  box-sizing: border-box;
}

.mainvisual {
  width: 100%;
  margin: 0 auto;
}
.mainvisual img {
  width: 80%;
}
.txt {
  font-weight: 600;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1rem;
  margin: 0 auto 10%;
  color: #333;
 }


}
