@charset "utf-8";

.fs-notosans {font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}




.wap-kari {
  width: 100%;
  margin: 0 auto;
}

.mainvisual {
  width: 30%;
  margin: 0 auto;
}
.txt {
  font-weight: 400;
  text-align: center;
   line-height: 1.8;
  font-size: 1.2rem;
  margin: 0 auto 0;
  color: #333;
 }



.keyvisual {
  position: relative !important;
}
.keyvisual_scroll {
  width: 30%;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 17% !important;
  z-index: -1 !important;
}
.keyvisual_scroll-circle {
  height: auto !important;
  width: 100% !important;
  animation: rotate 5s linear infinite !important;
}




/*=*=*=*=*=*=*=*=*=*=*=*=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*
  @media (max-width: 1024px) ↓↓↓
*=*=*=*=*=*=*=*=*=*=*=*=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@media screen and (max-width: 1024px) {

.wap-kari {
  width: 100% !important;
  box-sizing:border-box;
}
}


/*=*=*=*=*=*=*=*=*=*=*=*=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*
  @media (max-width: 600px) ↓↓↓
*=*=*=*=*=*=*=*=*=*=*=*=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@media screen and (max-width: 600px){


.wap-kari {
  width: 100% !important;
  box-sizing:border-box;
}

.mainvisual {
  width: 100%;
  margin: 0 auto;
}
.txt {
  font-weight: 500;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1rem;
  margin: 0 auto 10%;
  color: #333;
 }


}
